<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1 style="color:purple">welcome to python html page</h1>
        <h1>Python is a computer programming language often used to build websites and software,
             automate tasks, and conduct data analysis. Python is a general-purpose language,
              meaning it can be used to create a variety of different programs 
              and isn't specialized for any specific problems.</h1>
        <a href="{% url 'app2:java' %}">navigate to java page</a>
    </center>
</body>
</html>