<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1 style="color:blue">welcome to sql html page</h1>
        <h1>Structured query language (SQL) is a programming language for storing
         and processing information in a relational database.
         A relational database stores information in tabular form,
         with rows and columns representing different data attributes and the various relationships between the data values.</h1>
        <a href="{% url 'app1:python' %}">navigate to python page</a>
    </center>
</body>
</html>